<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — a2effe.gitlab.io</title>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="{{ '/static/aeffe-30.png' | url }}" class="d-inline-block align-top" alt="">&nbsp;
      <a class="navbar-brand" href="#">Andrea on gitlab</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li {%if this._path == '/' %} class="nav-item active" {% else %} class="nav-item" {% endif %} ><a class="nav-link" href="{{ '/'|url }}"><i class="material-icons middle">home</i> <span class="middle">Welcome</span></a></li>
          {% for href, title in [
            ['/articoli', '<i class="material-icons middle">book</i> <span class="middle">Articoli</span>'],
            ['/progetti', '<i class="material-icons middle">settings</i> <span class="middle">Progetti</span>'],
            ['/andrea', '<i class="material-icons middle">account_circle</i> <span class="middle">Io</span>']
          ] %}
          <li {%if this.is_child_of(href) %} class="nav-item active"{% else %} class="nav-item" {% endif %}><a class="nav-link" href="{{ href|url }}">{{title|safe}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <div class="page">
    <div class="row justify-content-lg-center">
      <div class="col-8">
        {% block body %}{% endblock %}
      </div>
    </div>    
  </div>
  <footer class="navbar navbar-dark bg-dark">
    <span class="navbar-text">&copy; Copyright 2019 by Andrea A. Franzese.</span>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
