@import url("https://fonts.googleapis.com/css?family=Overpass|Titillium+Web");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-size: 1em;
  line-height: 1em;
}

body {
  font-family: "Overpass", "Verdana", sans-serif;
  margin: 50px 25px;
  color: #333;
}

a {
  color: #2a99b6;
}

a:hover {
  color: #33bbdf;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Titillium", "Verdana", sans-serif;
}

.page {
  min-height: 300px;
  margin: 2em;
}

.middle {
  vertical-align: middle;
}
